// $color-primary-one: #ffffff;
// $color-primary-two: #ffffff;

$color-grey-dark: #444444;
$color-grey-light: #f1f1f1;

$color-black: rgba(0, 0, 0, 0.31);
$color-white: #ffffff;

$font-size-header: 2.5rem;
$font-size-large: 1.8rem;
$font-size-default: 1.6rem;
$font-size-small: 1.3rem;

$line-height-header: 3.5rem;
$line-height-large: 2.5rem;
$line-height-default: 1.8rem;
$line-height-default: 1.6rem;

$margin-small: 1.5rem;
$margin-medium: 3rem;
$margin-large: 4.5rem;

$padding-small: 1.5rem;
$padding-medium: 3rem;
$padding-large: 4.5rem;