// $color-primary-one: #ffffff;
// $color-primary-two: #ffffff;

$color-grey-dark: #444444;
$color-grey-light: #f1f1f1;

$color-black: #000000;
$color-white: #ffffff;

$font-size-header: 2.5rem;
$font-size-large: 1.8rem;
$font-size-default: 1.6rem;
$font-size-small: 1.3rem;

$line-height-header: 3.5rem;
$line-height-large: 2.5rem;
$line-height-default: 1.8rem;
$line-height-default: 1.6rem;