.container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;

    &__wrapper {
        place-self: center;
        display: grid;
        justify-items: center;
    }

    &__header {
        font-size: $font-size-header;
        line-height: $line-height-header;
        color: $color-white;
    }
}